# ======================
# ENV
# ======================
.env

# ======================
# BUILD
# ======================
bin/
*.exe
*.out

# ======================
# GO
# ======================
vendor/

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store